<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add connectionString="Server=172.16.1.71;Database=T24_DataWareHouse;User ID=itamim;Password=Sa123456" name="ConnStringDb1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Ftpservername" value="172.30.111.11"/>
    <add key="Ftpuserid" value="r8am"/>
    <add key="Ftppassword" value="Qwerty@1234"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.windows.forms jitDebugging="true"/>
</configuration>
